extends layout
block content
  body#home
    .ui.vertical.segment
      .ui.stackable.left.aligned.page.grid
        .sixteen.column.row
          .four.wide.column
            h3.ui.header.inverted
              // <i class="refresh icon"></i>
              span 
                | portfolio
        .sixteen.column.row
          .ten.wide.column
            .ui.fluid.inverted.accordion
              .title
                i.minus.icon.customaccordiconcollapsed
                i.plus.icon.customaccordicon
                | LA Noise Array
              .content 
                br
                p
                  | Visualization specialist and web developer 
                  | Northeastern University – Information Design + Philips Lighting
                br
                | live at 
                .ui.small.circular.black.label
                  a(href='http://noisearray.northeastern.edu/', target='_blank')
                    span.mono
                      | noisearray.northeastern.edu
              .title
                i.minus.icon.customaccordiconcollapsed
                i.plus.icon.customaccordicon
                span
                  | Atlas of Lighting 
              .content 
                br
                p 
                  | I lead the data analysis, and developed the codes for extracting, manipulating, and reproducing the data. 
                  | in addition, I designed the web application and developed the back-end web server.
                br
                | live at 
                .ui.small.circular.black.label
                  a(href='http://atlas.lighting/', target='_blank')
                    span.mono
                      | atlas.lighting
              .title
                i.minus.icon.customaccordiconcollapsed
                i.plus.icon.customaccordicon
                span
                  | Land Parcels Database
              .content
                br
                p
                  | Developed the model for creating and updating the statewide atlas of more than 2.1 million land parcel boundaries and associated tax assessor data.
            h2
            h3
            h4
            h4
          .ui.horizontal.divider