extends layout
block content
  body#home
    .ui.vertical.segment
      .ui.stackable.left.aligned.page.grid
        .sixteen.column.row
          .four.wide.column
            h2.ui.header.inverted
              // <i class="refresh icon"></i>
              | armin akhavan's potfolio
        .sixteen.column.row
          .ten.wide.column
            .ui.fluid.inverted.accordion
              .title.active
                i.dropdown.icon 
                | LA Noise Array
              .content.active Visualization specialist and web developer | Northeastern University – Information Design + Philips Lighting
              .title
                i.dropdown.icon
                | Atlas of Lighting
              .content I lead the data analysis, and developed the codes for extracting, manipulating, and reproducing the data. 
                | in addition, I designed the web application and developed the back-end web server.
            h2
            h3
            h4
            h4
          .ui.horizontal.divider