extends layout
block content
  body#home
    .ui.vertical.segment
      .ui.stackable.left.aligned.page.grid
        .sixteen.column.row
          .four.wide.column
            h1.ui.header.inverted
              // <i class="refresh icon"></i>
              | armin akhavan's potfolio
        .sixteen.column.row
          .ten.wide.column
            .ui.fluid.inverted.accordion
              .title
                i.dropdown.icon LA Noise Array
              .content
                p project description
            h2
            h3
            h4
            h4
          .ui.horizontal.divider